html {
    font-size: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2EFEB;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 8rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 6rem;
}

nav ul li {
    font-size: 1.6rem;
    line-height: 2rem;
    display: inline-flex;
    position: relative;
    justify-content: center;
}

nav ul li::before {
    content: "";
    position: absolute;
    bottom: -6px;
    background: #000;
    height: 1.4px;
    width: 3.5rem;
}

nav ul li:hover {
    background-color: #DCBAA2;
}

nav ul li.active {
    background-color: #DCBAA2;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}
main {
    display: flex; 
    padding: 4rem 11.7rem 12rem;
    gap: 16rem;
    align-items: center;
}
picture {
    width: 51.5rem;
    height: 62.1rem;
    overflow: hidden; 
}
picture img {
    width: 120%;
    height: 170%;
    display: block;
}

main section h1 {
    font-weight: 700;
font-size: 6.4rem;
line-height: 7.5rem;
text-align: center;
padding: 2rem 10rem;
}
main section article {
    margin: 3.3rem 0;
    width: 53rem;
}
main article p {
    font-size: 3.2rem;
line-height: 3.7rem;
letter-spacing: 0.05em;
color: #4E4D4D;
}

main section a {
    color: #000;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 3rem 0 5rem;
}

main section button {
    background-color: #DCBAA2;
    font-family: 'Roboto',
        sans-serif;
    border: none;
    border-radius: 2.5rem;
    height: 8.6rem;
    color: #000;
    font-size: 2.8rem;
    width: 43rem;
    line-height: 3.3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

main section button:hover {
    background-color: #d5a684;
    transition: all 0.3s ease-in-out;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #DCBAA2;
    padding: 4.1rem 8rem;
    gap: 9.1rem;
    width: 100%;
}

footer >section {
    display: flex;
    justify-content: space-between;
}

footer .left h3 {
    font-size: 5rem;
    line-height: 5.6rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-family: 'Roboto Serif';
}

footer .left div {
    display: flex;
    gap: 1rem;

}

footer .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

footer .right h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
}

footer .right ul {
    display: flex;
    gap: 4rem;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

footer .right ul li {
    display: inline;
}

footer .right a {
    text-decoration: none;
    color: #000;
}

footer .right a:hover {
    background-color: #F2EFEB;
}
footer small {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-family: 'Roboto Serif';
}
