html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

img {
    position: left;
width: 70px;
height: 30px;
left: 34px;
justify-items: center;
top: 25px;

}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 8rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 6rem;
}

nav ul li {
    font-size: 1.6rem;
    line-height: 2rem;
    display: inline-flex;
    position: relative;
    justify-content: center;
}

nav ul li::before {
    content: "";
    position: absolute;
    bottom: -6px;
    background: #000;
    height: 1.4px;
    width: 3.5rem;
}

nav ul li:hover {
    background-color: #DCBAA2;
}

nav ul li.active {
    background-color: #DCBAA2;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

main {
    padding: 7rem 12rem;
    font-size: 2rem;
    line-height: 2.8rem;
    font-family: 'Roboto Serif';
}

main h3 {
    line-height: 3rem;
    font-size: 2.4rem;
}

main h4 {
    font-size: 4rem;
    line-height: 7rem;
    text-align: center;
    padding: 7rem 12rem;
}

main picture {
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

main picture img {
    height: 100%;
    width: 100%;
}

footer div img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    
}

footer h5 {
    font-size: 2rem;
    line-height: 7rem;
    text-align: center;
    padding: 7rem 12rem;
}